/*.custom-border {
    border: 9px solid;
    border-color: rgb(152, 251, 152) rgb(211, 211, 211);
}
.custom-border {
  border: 9px solid;
  border-color: rgb(160, 190, 170); 
  transition: border-color 0.5s ease-in-out;
}

.group:hover .custom-border {
  border-color: rgb(0, 146, 124);
}*/
.custom-border {
  border: 4px solid;
  border-color: rgb(160, 190, 170); /* Початковий колір */
  transition: border-color 0.4s ease-in-out, transform 0.4s ease-in-out; /* Плавний перехід кольору та трансформації */
}

.group:hover .custom-border {
  border-color: rgb(0, 146, 124); /* Колір на ховері */
  transform: scale(1.03); /* Легке збільшення елемента */
}




